extends main
block links    
    link(rel='stylesheet', href='./css/index.css')
    script(src="./javascripts/index.js")
    
block content
  .main-container
    .index-title
      .title-text 精选艺术家        
    .index-main
      .index-introduction
        | 电子音乐在国际上一直是普罗大众所追逐的一种潮流趋势，由此催生出的各种电音节数不胜数。
        br                 
        br
        |  下面是一些知名的电音制作人。             
      .musician-list
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-TobyFox.jfif', alt='', lazyload="true",data-src="images/musician-TobyFox.jfif")                     
          a.musician-name(href='#') Toby Fox                 
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-Sakuzyo.jfif', alt='', lazyload="true",data-src="images/musician-Sakuzyo.jfif")                     
          a.musician-name(href='#') 削除sakuzyo                 
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-LenaRaine.jfif', alt='', lazyload="true",data-src="images/musician-LenaRaine.jfif")                     
          a.musician-name(href='#') Lena Raine                 
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-Deorro.jfif', alt='', lazyload="true",data-src="images/musician-Deorro.jfif")                     
          a.musician-name(href='#') Deorro                
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-Tanchiky.jfif', alt='', lazyload="true",data-src="images/musician-Tanchiky.jfif")                    
          a.musician-name(href='#') Tanchiky                
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-MDK.jpg', alt='', lazyload="true",data-src="images/musician-MDK.jpg")                     
          a.musician-name(href='#') MDK                 
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-AlanWalker.jpg', alt='', lazyload="true",data-src="images/musician-AlanWalker.jpg")                    
          a.musician-name(href='#') Alan Walker               
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-SanHolo.jpg', alt='', lazyload="true",data-src="images/musician-SanHolo.jpg")          
          a.musician-name(href='#') San Holo    
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-HardWell.jpg', alt='', lazyload="true",data-src="images/musician-SanHolo.jpg")          
          a.musician-name(href='#') HardWell        
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-Amin.jfif', alt='', lazyload="true",data-src="images/musician-SanHolo.jpg")          
          a.musician-name(href='#') Armin van Buuren
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-DavidGuetta.jpg', alt='', lazyload="true",data-src="images/musician-SanHolo.jpg")          
          a.musician-name(href='#') David Guetta
        .musician-item
          .musician-image-wrapper
            img.musician-image(src='images/musician-Tiesto.jpg', alt='', lazyload="true",data-src="images/musician-SanHolo.jpg")          
          a.musician-name(href='#') Tiësto
      .video-container
        video.index-video(src='videos/MEGALOVANIA.mp4', controls='controls')
