extends main
block links    
    link(rel='stylesheet', href='css/login.css')
    script(src="/javascripts/login.js")

block content
    .login-main
      .form-container
        form.login-box(action='/users/login', method='POST')
          .box-row
            span.box-title 登陆以继续
          |                 
          .box-row
            input.box-input(placeholder='用户名',name='username')
          |                 
          .box-row
            input.box-input(type='password', placeholder='密码',name='password')
          |                 
          .box-row
            a.login-box-forget(href='index') 忘记密码
          |                 
          .box-row.button-row
            button.box-button(type='submit') 登陆
      |         
      .register-container
        div.register-box
          .box-row
            span.box-title 没有账号？
          |                 
          .box-row.register-detail 点击右下角的注册按钮成为EM的一员吧！
          |                 
          .box-row.button-row
            button.box-button#register-button 注册
