doctype html
html(lang='en')
    block header
    body
        .navigator
            .navigator-left
                .navigator-item
                    img.navigator-logo(src='./images/logo.png')                
                .navigator-item
                    img.navigator-propagation(src='./images/propagation.png')                
                .navigator-item
                    a(href='index') 主页                
                .navigator-item
                    a(href='index') 艺术家               
                .navigator-item
                    a(href='index') 鉴赏             
            .navigator-right
                .navigator-item
                    a.navigator-icon(href='#')                 
                .navigator-item
                    a(href='login') 登陆               
                .navigator-item
                    a(href='register') 注册
    block content