html,
body {
    height: 100%;
    background-color: rgb(38, 38, 38);
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

video:focus {
    outline: none;
}

.navigator {
    position: fixed;
    top: 0px;
    z-index: 999;
    height: 50px;
    width: 100%;
    background-color: rgb(172, 57, 109);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator-right {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.navigator-left {
    height: 100%;
    display: flex;
}

.navigator-item {
    margin: 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigator-logo {
    height: 90%;
}

.navigator-icon {
    height: 90%;
    width: 45px;
    background-image: url(../images/icon.svg);
}

.navigator-propagation {
    height: 70%;
}

.navigator-item a {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
}

.box-row {
    /* display: flex; */
    width: inherit;
    margin: 14px 10px;
    padding: 4px 5px;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.box-title {
    flex: 0 0 auto;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.box-input {
    background-color: rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
    border-radius: 5px;
    font-size: 12px;
    color: rgb(153, 153, 153);
    width: 88%;
    padding: 8px 5px;
}

.box-button {
    padding: 4px 5px;
    background-color: rgb(172, 57, 109);
    border-color: rgb(172, 57, 109);
    border-width: 1px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.button {
    padding: 4px 5px;
    background-color: rgb(172, 57, 109);
    border-color: rgb(172, 57, 109);
    border-width: 1px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.input-fault {
    border-color: rgb(172, 57, 109);
}

.input-note {
    color: rgb(255, 204, 24);
    margin-top: 5px;
    margin-bottom: -14px;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}